[submodule "projects/ZooKeeper"]
	path = projects/ZooKeeper
	url = https://github.com/Lingzhi-Ouyang/MET
[submodule "projects/CRDT-Redis"]
	path = projects/CRDT-Redis
	url = https://github.com/elem-azar-unis/CRDT-Redis
[submodule "tmet-projects"]
	path = projects/TMET
	url = https://github.com/tangruize/TMET
